/*Colors*/
$color-dark-green: rgba(57, 92, 77, 1);
$color-green: rgba(237, 255, 129, 0.4);
$color-light-green: rgba(152, 170, 40, 1);

/*Text styles*/
$text-small: 16px;
$text-medium: 18px;
$text-regular: 22px;
$text-big: 42px;
$text-title: 90px;