/*Colors*/
$color-dark-green: rgba(57, 92, 77, 1);
$color-green: rgba(237, 255, 129, 0.4);
$gradient-light-green: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
$color-light-green: #A3B938;
$color-grey: rgba(120, 132, 125, 1);
$color-light-grey: rgba(246, 251, 249, 1);
$color-dark-grey: rgba(162, 189, 170, 1);


/*Text styles*/
$text-small: 16px;
$text-medium: 18px;
$text-regular: 22px;
$text-big: 42px;
$text-title: 90px;