@import "variables";

.offer {
  overflow: hidden;
  margin-top: 100px;
  

  &__inner {
    position: relative;
    background: url("~/img/offer/back.jpg") no-repeat;
    height: 600px;
  }

  &__img-top {
    position: absolute;
    top: -53px;
    left: -109px;
  }

  &__img-bottom {
    position: absolute;
    bottom: 20px;
    right: -200px;
  }

  &__text {
    padding-top: 100px;
    margin-left: 130px;
  }

  &__title {
    margin-bottom: 30px;
    color: white;
  }

  &__logo {
    margin-bottom: 60px;
  }

  &__input {
    height: 70px;
    width: 370px;
    border: none;
    border-radius: 50px;
    margin-right: 30px;

    &::placeholder {
      padding-left: 40px;
      color: black;
      font-weight: bold;
    }
  }

  &__button {
    height: 70px;
    width: 240px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: $color-light-green;
  }
}