@import "variables";

.service {
  &__inner {
    margin-top: 80px;
    
    display: flex;
    justify-content: space-between;
  }

  &__information {
    margin-top: 50px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 50px;

    font-size: $text-regular;
    color: $color-grey;
  }

  &__button {
    padding: 20px 50px;

    color: white;
    border-radius: 25px;
    background: $gradient-light-green;
    border: 1px white solid;
  }
}